@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--secondary-color);
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--main-color);
  color: var(--secondary-color);
}

#date-hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#date-hour .hour {
  border-radius: 10px;
  padding: 10px;
  font-size: 36px;
  font-family: "Audiowide", cursive;
  font-weight: bold;
  text-align: center;
}

#img-illustration img {
  width: 150px;
  border-radius: 50%;
}

.box {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.box .city-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
}

.box #description-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#description-container #description {
  font-weight: bold;
  text-transform: capitalize;
}

#details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#details-container #humidity {
  border-right: 2px solid #fff;
  margin: 10px;
  padding: 10px;
}

.footer {
  font-size: 12px;
  color: rgb(122, 122, 121);
  margin-top: 10px;
}
